app = 'zap'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  max_machines_running = 1
  processes = ['app']

[mounts]
  source = "zap_data"
  destination = "/app/.wwebjs_auth"
  initial_size = "1gb"

[[vm]]
  memory = '1gb'
  cpus = 2
  memory_mb = 1024
