name: Build bot zap

on:
  push:
    branches: ['main']
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - 'docs/**'
      - 'LICENSE'
env:
  REGISTRY: ghcr.io
  REPO: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest
            type=sha,format=long

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: production
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            APP_UID=1011
            APP_GID=1011

  notify-server:
    runs-on: ubuntu-latest
    # if: ${{ false }} # Se você descomentar essa linha, esse job será pulado
    needs: build-and-push
    steps:
      - name: Call deploy webhook
        env:
          WEBHOOK_URL: ${{ secrets.DEPLOY_WEBHOOK_URL }}
          WEBHOOK_SECRET: ${{ secrets.DEPLOY_WEBHOOK_SECRET }}
          SHA: ${{ github.sha }}
          REF: refs/heads/main
          REPOSITORY: ${{ github.event.repository.name }}
        run: |
          set -Eeuo pipefail

          # Cria o payload
          PAYLOAD=$(python3 - <<'PY'
          import json, os
          payload = {"ref": os.environ["REF"], "after": os.environ["SHA"],"repository": os.environ["REPOSITORY"]}
          print(json.dumps(payload, separators=( ",", ":" )))
          PY
          )
          export PAYLOAD

          # Assina o payload por segurança (HMAC SHA256)
          # O servidor precisa ter o mesmo secret para validar a assinatura.
          SIGNATURE=$(python3 - <<'PY'
          import hmac, hashlib, os
          secret = os.environ["WEBHOOK_SECRET"].encode()
          payload = os.environ["PAYLOAD"].encode()
          print("sha256=" + hmac.new(secret, payload, hashlib.sha256).hexdigest())
          PY
          )

          # Enviar a request do webhook
          echo "Triggering deploy webhook..."
          curl -fsS -X POST \
            -H "Content-Type: application/json" \
            -H "X-GitHub-Event: push" \
            -H "X-Hub-Signature-256: $SIGNATURE" \
            -d "$PAYLOAD" \
            "$WEBHOOK_URL"